
@model EtbnanyWebsite.Models.User

@{
    ViewBag.Title = "donation";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etbanany</title>
    <link rel="icon" href="~/Content/images/dog.png" type="image/x-icon">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel='stylesheet'>
    <link rel="stylesheet" href="~/Content/home.css">
    <link rel="stylesheet" href="~/Content/don.css">

    <style>
        .marquee-container {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
        }

        .marquee-content {
            display: block;
            animation: marquee 50s linear infinite;
        }

        @@keyframes marquee {
            0% {
                transform: translateX(100%);
            }

            100% {
                transform: translateX(-100%);
            }
        }

        .our_baking {
            background-color: #f3f3f3;
            padding: 10px 0px 70px 0px;
        }

        .submit-button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            margin-bottom:20px;
        }

            .submit-button:hover {
                background-color: #45a049;
            }

        #profile,#logout {
            color: #fff;
            text-decoration: none;
            float: right;
            padding-top: 25px;
            padding-right: 30px;
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 1px;
        }

        #title {
            display: inline-block;
        }

        .item input {
            height: 40px;
            background-color: rgb(163, 163, 216);
            border-radius: 10px;
            width: 50%;
            margin: auto;
        }
    </style>
    <script>
        function showDonationnForm() {
            document.getElementsByClassName("our_baking")[0].style.display = "none";
            document.getElementById("donationForm").style.display = "block";
        }
    </script>


</head>
<body>
    <div class="header">
        <h1 style="padding-left:125px;" id="title">Hi @Model.firstName, Welcome to Our Animal Shelter</h1>
        <a id="logout" href="@Url.Action("signin", "Etbnany")">Logout</a>
        <a id="profile" href="@Url.Action("profile", "Etbnany")">@Model.firstName <i class='bx bxs-user'></i></a>
    </div>
    <div class="container">
        <ul class="menu">
            <li><a href="@Url.Action("home", "Etbnany")">Homepage</a></li>
            <li><a href="@Url.Action("aboutus", "Etbnany")">About Us</a></li>
            <li><a href="@Url.Action("adoption", "Etbnany")">Adoption</a></li>
            <li><a href="@Url.Action("donation", "Etbnany")">Donations</a></li>
            <li><a href="@Url.Action("contactus", "Etbnany")">Contact Us</a></li>
        </ul>
    </div>

    <div class="content">
        <h2 style="text-align:center;">Your Gift Will Help Save More Homeless Animals</h2>
        <p style="width: 50%; text-align: center; margin: auto;">
            Your donation to The Animal Foundation goes straight to work
            helping the highest volume single-site animal shelter in America save more lives. Your tax-deductible charitable donation
            helps provide shelter, medical care, behavioral enrichment, and more for thousands of homeless, injured, and neglected animals
            waiting to find a home and a family to love..
        </p>
    </div>
    <div class="marquee-container">
        <a href="@Url.Action("donation", "Etbnany")" class="marquee-content">
            <img src="~/Content/images/dog.png" alt="Adoption Marquee" style="height: 100px; width: 100px;">
        </a>
    </div>
    <section class="our_baking">
        <div class="container">
            <div class="text_baking">
                <h3>
                    Donation Product That Profit our Shelter
                </h3>
            </div>
            <div class="box_baing">

                @foreach (EtbnanyWebsite.Models.Product p in ViewBag.allProducts)
                {
                    <div class="item">
                        <img src="~/Content/images/@p.image" height="320px" alt="">
                        <h4>@p.name</h4>
                        <p>Price : $@p.price</p>
                        <p>In Stock : @p.stock</p>
                    </div>
                }


                <div class="clr"></div>
            </div>
        </div>

        <input class="submit-button" style="width:50%; font-size:larger; display:block; margin: 20px auto;" type="button" value="Donate" onclick="showDonationnForm()">
    
    </section>

    <fieldset id="donationForm" style="text-align: center; color: black; font-size: 20px;display: none;">
        <form action="@Url.Action("donation", "Etbnany")" method="post">
            <legend><b>How much of this product would you like to buy for donation?</b></legend>

            @Html.DropDownList("Id", new SelectList(ViewBag.allProducts, "Id", "Name"))
            <br style="margin-bottom:20px">
            <label for="quantity" id="quantityLabel">Quantity: </label>
            <input type="number" id="quantity" name="quantity" min="1" max="100" title="Enter value between 1 and 100 (if sufficient in stock)" required> <br><br />

            <input style="display: block; margin: 20px auto" class="submit-button" type="submit" name="name" value="Donate" />
        </form>
    </fieldset>

    <footer>
        <div class="container">
            <div class="social-media">
                <a href="#" target="_blank"><img src="~/Content/images/fb.png" alt="Facebook"></a>
                <a href="#" target="_blank"><img src="~/Content/images/twitter.png" alt="Twitter"></a>
                <a href="#" target="_blank"><img src="~/Content/images/instagram.png" alt="Instagram"></a>
            </div>
            <div class="trademarks">
                All trademarks are the property of Etbanany Company.
            </div>
            <div class="copyright">
                &copy; 2023 Etbanany. All rights reserved.
            </div>
        </div>
    </footer>
</body>
</html>

